<ion-header>

</ion-header>

<ion-content>
  <ion-header >
    <ion-toolbar>
      <ion-title>
        Bienvenido conductor
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" >
          <ion-card *ngFor="let user of users">
            <ion-card-content >
              <ion-avatar>
                <img src="https://images.pexels.com/photos/4350287/pexels-photo-4350287.jpeg">
              </ion-avatar>
              <ion-label id="textorandom" class="">Bienvenido {{user.usuarioConductor}}</ion-label>
              <ion-item >
                <ion-label>Pasajeros</ion-label>
                <ion-select placeholder="Selecciona" >
                <ion-select-option *ngFor="let pre of precios" #cantPasajero>{{pre.numeroPasajero}} </ion-select-option>
                </ion-select>
            </ion-item>
              <ion-item>
                <ion-label id="izq-1">Ingrese hora</ion-label>
                <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
              </ion-item>
              <ion-item >
                  <ion-label>Tarifas</ion-label>
                  <ion-select placeholder="Selecciona" >
                  <ion-select-option *ngFor="let pre of precios">{{pre.precio}}</ion-select-option>
                  </ion-select>
              </ion-item>
                <ion-item>
                  <ion-grid>
                    <ion-row class="label">
                      <ion-label>Tipo de vehiculo:</ion-label>
                      <ion-label>{{user.vehiculo.tipoVehiculo}}</ion-label>
                    </ion-row>
                  </ion-grid>

                </ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-button type="submit" color="success" expand="full" (click)="createHistorial()">Generar viaje</ion-button>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
  
  
        </ion-col>
      </ion-row>
      
    </ion-grid>
   
   
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>TeLlevoApp</ion-title>
      <ion-avatar slot="start">
        <img src="../../assets/icon/ddddd.png">
      </ion-avatar>
    </ion-toolbar>
  </ion-footer>
</ion-content>
