ion-searchbar{

    background-color: #fff;

}

ion-list{
    background-color:#fff;
    color: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


ion-button{
    position: absolute;
    height: 250px;
}