<ion-header>

</ion-header>
<ion-content  class="ion-padding" >
  <div class="title">
    <ion-icon name="close-circle-outline"(click)="dissmiss()" id="close__btn"></ion-icon>
    <h4>Ingresar</h4>
    <p>Ingrese sus datos</p>
  </div>
  <ion-input placeholder="Usuario" class="primary-input"></ion-input>
  <ion-input placeholder="Password" type="password"class="primary-input"></ion-input>

  <ion-grid class="ion-align-self-end">
    <ion-row size="1">
      <ion-col >
        <ion-button expand="block" (click)="login()"  [routerLink]="['/home']">Buscar viajes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="login()"  [routerLink]="['/conductor']">Conductor</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
