.title{
    margin-bottom: 30px;
}
.title h4{
    color: var(--ion-color-primary);
}
.title p{
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}
.forget a{
    font-size: small !important;
}
#close__btn{
    font-size: 1.7rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: #999999;

}