<ion-header>

</ion-header>

  <ion-content class="ion-padding ion-text-center" color="primary">
    <div class="logo__welcome">
      <img src="../../assets/img/logo.png" class="logo">
    </div>

      <div class="title">
        <h2 class="welcome__title">Bienvenido a TeLlevoApp</h2>
      </div>
      
      <div class="ion-margin-top">

        <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="light">Registrar usuario</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="light">Ingresar</ion-button>
      </div>
    

      <div class="ion-margin-top ion-text-right forgot" id='btn__reestablecer'>
        <ion-button expand="block" (click)="reestablecer()" >¿Olvidaste tu contraseña?</ion-button>
      </div>

      
  </ion-content>

