.ion-margin-top{
    font-weight: 600;
}
#btn__reestablecer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#btn__reestablecer:hover{

    background-color: var(--ion-color-primary);
}