<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Reestablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  

  <div class="logo">
    <img src="assets/img/logo.png" alt=""> 
  </div>

  <div class="form">
    <div class="user__input">
      <ion-item lines='none'>
        <ion-input placeholder="Usuario"></ion-input>
      </ion-item>
    </div>

    <ion-item lines='none'>
      <ion-input placeholder="Contraseña nueva" type="password"></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder="Confirme contraseña" type="password"></ion-input>
    </ion-item>


     <ion-button (click)="paginaPrincipal()" color="clear" expand='block' class="button__recuperar">Recuperar</ion-button>
     
  </div>

</ion-content>
