<ion-header>

</ion-header>

<ion-content class="ion-padding">
    <div class="title">
      <ion-icon name="close-circle-outline"(click)="dissmiss()" id="close__btn"></ion-icon>

      <h4>Registarse</h4>
      <p>Rellene los campos correctamente</p>
    </div>
    <ion-input placeholder="Nombre Completo" class="primary-input"></ion-input>
    <ion-input placeholder="Usuario" class="primary-input"></ion-input>
    <ion-input placeholder="Contraseña" type="password" class="primary-input"></ion-input>
    
    <p>Registrandote estas aceptando nuestros Terminos y Condiciones</p>
    <div class="ion-margin-top">
      <ion-button expand="block" color="primary" class="ion-margin-top">Registrarse</ion-button>
    </div>
</ion-content>
